<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" >
</head>
<body>
    <nav class="navigation">
        <a href="/"><button class="member-only-btn">Members only club</button></a>
        <% if (user) { %>
          <a href="/new-message"><button>NEW MESSAGE</button></a>
          <% if (!user.membership_status) { %>
            <a href="/become-member"><button>BECOME MEMBER</button></a>
          <% } %>
          <% if (!user.admin_status) { %>
            <a href="/become-admin"><button>BECOME ADMIN</button></a>
          <% } %>
          <a href="/log-out"><button>LOG OUT</button></a>
        <% } else { %>
          <a href="/sign-up"><button>SIGN UP</button></a>
          <a href="/log-in"><button>LOGIN</button></a>
        <% } %>
    </nav>    
  <div class="container">
    <h1>Become a member</h1>
    <h2>Enter correct passcode to secure member role</h2>
    <h3>Hint: How many genders are there?</h3>
    <form method="POST">
        <label for="passcode">Passcode</label>
        <input type="text" name="passcode">
        <button type="submit">submit</button>
    </form>
  </div>  
</body>
</html>