<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" >
</head>
<body>
  <nav class="navigation">
    <a href="/"><button class="member-only-btn">Members only club</button></a>
    <a href="/sign-up"><button>SIGN UP</button></a>
    <a href="/log-in"><button>LOGIN</button></a>
  </nav>
  <div class="container">
    <form method="POST">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="passowrd">Password</label>
        <input type="password" name="password">
        <button type="submit">submit</button>
    </form>
  </div>
</body>
</html>